.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingSm {
  font-size: 1rem;
  line-height: 1;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding-top: 10px;
}

.lightText {
  color: #666;
  display: inline;
}

.card {
  border: 2px #fff solid;
  border-radius: 10px;
  margin: 10px 0;
}

.anchors {
  color: aliceblue;
}
